<div class="container text-center">
    <div class="mt-5 mb-3">
        <h3 class="text-danger text-decoration-underline">Mes Commandes</h3>
    </div>
<table class="table table-bordered text-center">
    <tr class="row text-center bg-warning">
        <th class="col-1">Commandes</th>
        <th class="col-2">Produits</th>
        <th class="col-2">Etat</th>
        <th class="col-4">Date</th>
        <th class="col-3">Options</th>
    </tr>
    <tr class="row" *ngFor="let list of commandes; let ii=index">
        <td class="col-1 mt-3">
            <p>{{ii}}</p>                                
        </td>
        <td class="col-2 mt-3" >
                    <p *ngFor="let p of list.Produits">{{ p.Produit.nom }}</p>                                
        </td>
        <td class="col-2 d-flex justify-content-around mt-3">
            {{list.etat}}
        </td>
        <td class="col-4 mt-3" >
            {{ list.date | date:'medium' }}
        </td>  
        <td class="col-3 mt-3" >
            <div class="row d-flex justify-content-around">
                <button class="btn btn-outline-danger col-4" *ngIf="list.date.toString().substring(0,10)==completeDate && list.etat=='En Attente'" #btn (click)="cli(list,btn)">Annuler</button>
                <button class="btn btn-outline-warning col-4"  [routerLink]="['/commandes',list.id]" >Details</button>
            </div>
        </td>                                               
    </tr>
</table>
</div>