<div class="container">
    <div class="mt-5 mb-3 text-center">
        <h2 class="text-danger text-decoration-underline">Commandes</h2>
        <input class="w-25 text-center" type="date" placeholder="date" name="date" id="" [value]="completeDate"  [max]='completeDate' #date (change)="recup(date)">
    </div>
    <div class="mt-3 mb-3">
        <h3 *ngIf="completeDate == date.value;else second">Aujourd'hui: Nbr de commandes: ({{commandes.length}})</h3>
        <ng-template #second>
            <h3>{{dat}}: Nbr de commandes: ({{commandes.length}})</h3>
        </ng-template>
    </div>
<table class="table table-bordered text-center">
    <tr class="row text-center bg-warning">
        <th class="col-2">Ref</th>
        <th class="col-2">Produits</th>
        <th class="col-2">Etat</th>
        <th class="col-2">Date</th>
        <th class="col-3">Options</th>
    </tr>
    <tr class="row" *ngFor="let list of commandes; let ii=index">
        <td class="col-2 mt-3">
            <p>{{ii}}</p>                                
        </td>
        <td class="col-2 mt-3" >
                    <p *ngFor="let p of list.Produits">{{ p.Produit.nom }}</p>                                
        </td>
        <td class="col-2 mt-3 text-center">
            <input type="text" class="w-75 text-center" [value]=list.etat #v (load)="val(v)" disabled="disabled">
<!--             <button class="btn" disabled style="background-color: red; color: black;" #v [value]="cli(v)">{{list.etat}}</button>
 -->        </td>
        <td class="col-2 mt-3" >
            {{ list.date | date:'HH:mm' }}
        </td>  
        <td class="col-3 mt-3" >
            <div class="row d-flex justify-content-around">
                <button class="btn col-4 btn-outline-danger" *ngIf="list.etat=='En Cours' && list.date.toString().substring(0,10)==completeDate" #btn (click)="cli(list,btn)">Annuler</button>
                <button class="btn col-4 btn-outline-success" #btn *ngIf="(list.etat=='En Attente' || list.etat=='Annulée') && list.date.toString().substring(0,10)==completeDate" (click)="cli(list,btn)">Valider</button>
                <button class="btn btn-outline-warning col-4"  [routerLink]="['/commande',list.id]" >Details</button>
            </div>
        </td>                                               
     </tr>
</table>
</div>